# 完整选项见 config/config.go

http_host: 127.0.0.1
http_port: 3000
web_domain: next.bgm.tv

redis_url: "redis://:redis-pass@127.0.0.1:6379/0"

mysql:
  host: 127.0.0.1
  port: "3306"
  user: user
  password: password
  db: bangumi
  max_connection: 4

hcaptcha_secret_key: 0x0000000000000000000000000000000000000000

canal:
  broker: "kafka" # or redis (stream)

  kafka_broker: "kafka://192.168.1.3:29092"
  topics: # kafka topic of redis stream keys
    - debezium.bangumi.chii_subject_fields
    - debezium.bangumi.chii_subjects
    - debezium.bangumi.chii_characters
    - debezium.bangumi.chii_persons
    - debezium.bangumi.chii_members

search:
  # 如果为空字符串则不会启用搜索相关的功能。
  meilisearch:
    url: ""
    key: ""

# log slow sql, in go time.Duration format string
# empty or zero value will disable slow sql logging
slow_sql_duration: "10s"

debug:
  gorm: true
nsfw_word: "里番|无码|18x|エロ"
disable_words: "办假存单|办理假证|0月租手机"
banned_domain: "lista.cc|snapmail.cc|ashotmail.com|zoutlook.com"

# Optional, not required

s3_entry_point: ""
s3_access_key: ""
s3_secret_key: ""
