http_host: 127.0.0.1
http_port: 3000
web_domain: next.bgm.tv

redis_url: "redis://:redis-pass@127.0.0.1:6379/0"

mysql_max_connection: 4
mysql_host: 127.0.0.1
mysql_port: "3306"
mysql_user: user
mysql_pass: password
mysql_db: bangumi

hcaptcha_secret_key: 0x0000000000000000000000000000000000000000

# 如果为空字符串则不会启用搜索相关的功能。
meilisearch_url: ""
meilisearch_key: ""

# log slow sql, in go time.Duration format string
# empty or zero value will disable slow sql logging
slow_sql_duration: "10s"

debug:
  gorm: true
nsfw_word: "里番|无码|18x|エロ"
disable_words: "办假存单|办理假证|0月租手机"
banned_domain: "lista.cc|snapmail.cc|ashotmail.com|zoutlook.com"

kafka_canal_topics:
  - debezium.bangumi.chii_subject_fields
  - debezium.bangumi.chii_subjects
  - debezium.bangumi.chii_members
