name: Build

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/build.yaml"
      - "go.mod"
      - "go.sum"
      - "Taskfile.yaml"
      - "**.go"
      - "**.go.json"
      - "etc/Dockerfile"
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/build.yaml"
      - "go.mod"
      - "go.sum"
      - "Taskfile.yaml"
      - "**.go"
      - "**.go.json"
      - "etc/Dockerfile"

env:
  GOTOOLCHAIN: "local"

jobs:
  docker:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - uses: trim21/actions/setup-go@master
        with:
          cache-namespace: build

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"

      - run: task build
        name: Build Binary

      - run: docker build -t tmp -f etc/Dockerfile .
      - run: docker run tmp -h
