name: Build

on:
  push:
    branches-ignore:
      - renovate/**
    paths:
      - ".github/workflows/build.yaml"
      - "go.mod"
      - "go.sum"
      - "Taskfile.yaml"
      - "**.go"
      - "**.go.json"
      - "etc/Dockerfile"
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/build.yaml"
      - "go.mod"
      - "go.sum"
      - "Taskfile.yaml"
      - "**.go"
      - "**.go.json"
      - "etc/Dockerfile"

jobs:
  components:
    strategy:
      matrix:
        include:
          - job: web
            task: "build"
            dockerfile: etc/Dockerfile
          - job: archive
            task: "build-archive"
            dockerfile: etc/archive.Dockerfile
          - job: canal
            task: "build-canal"
            dockerfile: etc/canal.Dockerfile

    name: "${{ matrix.job }}"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"

      - name: Go Build Cache (build)
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg
          key: go-cache-119-${{ hashFiles('**/go.sum') }}-build
          restore-keys: |
            go-cache-119-${{ hashFiles('**/go.sum') }}-

      - name: Install Task
        uses: arduino/setup-task@v1

      - run: go get ./...

      - run: task ${{ matrix.task }}
        name: Build Binary

      - name: Build Docker
        uses: docker/build-push-action@v3
        with:
          context: ./
          file: ${{ matrix.dockerfile }}
