name: Build

on:
  push:
    branches-ignore:
      - renovate/**
    paths:
      - ".github/workflows/build.yaml"
      - "go.mod"
      - "go.sum"
      - "Taskfile.yaml"
      - "**.go"
      - "**.go.json"
      - "etc/Dockerfile"
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/build.yaml"
      - "go.mod"
      - "go.sum"
      - "Taskfile.yaml"
      - "**.go"
      - "**.go.json"
      - "etc/Dockerfile"

jobs:
  docker:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"

      - name: Go Build Cache (build)
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg
          key: go-cache-119-${{ hashFiles('**/go.sum') }}-build
          restore-keys: |
            go-cache-119-${{ hashFiles('**/go.sum') }}-
            go-cache-119-

      - name: Install Task
        uses: arduino/setup-task@v1
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"

      - run: go get ./...

      - run: task build
        name: Build Binary

      - name: Build Docker
        uses: docker/build-push-action@v3
        with:
          context: ./
          file: etc/Dockerfile
