name: ci

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**.md"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: git clone https://github.com/bangumi/dev-env $HOME/dev-env

      - run: cd ~/dev-env && docker-compose up -d

      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - uses: Trim21/setup-poetry@dist/v1
      - uses: Trim21/install-poetry-project@dist/v1

      - run: bash $HOME/dev-env/wait_mysql_ready.sh

      - name: test
        run: coverage run -m pytest -vv --e2e --database --redis
        env:
          MYSQL_HOST: 127.0.0.1
          MYSQL_PORT: "3306"
          MYSQL_USER: user
          MYSQL_PASS: password
          MYSQL_DB: bangumi
          REDIS_URI: redis://:redis-pass@127.0.0.1:6379/0
          TESTING: "true"
          COLUMNS: "100"

      - run: coverage xml

      - uses: codecov/codecov-action@v2

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker build -t bangumi/server .
