name: Lint

on:
  push:
    branches-ignore:
      - renovate/**
    paths:
      - "**.go"
      - "**.go.json"
      - "go.mod"
      - "go.sum"
      - ".golangci.yaml"
      - ".github/workflows/lint.yaml"
  pull_request:
    branches:
      - master
    paths:
      - "**.go"
      - "**.go.json"
      - "go.mod"
      - "go.sum"
      - ".golangci.yaml"
      - ".github/workflows/lint.yaml"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.19"

      - name: Go Build Cache (lint)
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg
          key: go-cache-119-${{ hashFiles('**/go.sum') }}-lint
          restore-keys: |
            go-cache-119-${{ hashFiles('**/go.sum') }}-

      - run: go get -t ./...

      - name: Run linters
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.48.0
          skip-pkg-cache: true
          skip-build-cache: true
