name: Lint

on:
  push:
    branches-ignore:
      - renovate/**
    paths-ignore:
      - "**.md"
      - "**.txt"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - "**.txt"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/base

      - name: Go Build Cache (lint)
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
          key: ${{ runner.os }}-go-build-1-${{ hashFiles('**/go.sum') }}-lint
          restore-keys: |
            ${{ runner.os }}-go-build-1-${{ hashFiles('**/go.sum') }}-
            ${{ runner.os }}-go-build-1-

      - name: Run linters
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.45.2
          skip-pkg-cache: true
          skip-build-cache: true
