name: Lint

on:
  push:
    branches:
      - master
      - go
    paths-ignore:
      - "**.md"
      - "**.txt"
  pull_request:
    branches:
      - master
      - go
    paths-ignore:
      - "**.md"
      - "**.txt"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/base

      - name: Go Build Cache (lint)
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
          key: ${{ runner.os }}-go-build-1-${{ hashFiles('**/go.sum') }}-lint
          restore-keys: |
            ${{ runner.os }}-go-build-1-${{ hashFiles('**/go.sum') }}-
            ${{ runner.os }}-go-build-1-

      - name: Run linters
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.44.1
          skip-go-installation: true
          skip-pkg-cache: true
          skip-build-cache: true
