name: Lint

on:
  push:
    branches:
      - master
    paths:
      - "**.go"
      - "**.go.json"
      - "go.mod"
      - "go.sum"
      - ".golangci.yaml"
      - ".github/workflows/lint.yaml"
  pull_request:
    branches:
      - master
    paths:
      - "**.go"
      - "**.go.json"
      - "go.mod"
      - "go.sum"
      - ".golangci.yaml"
      - ".github/workflows/lint.yaml"

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - uses: trim21/actions/setup-go@master
        with:
          cache-namespace: lint

      - name: Run linters
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1.0
