name: Lint

on:
  push:
    branches-ignore:
      - renovate/**
    paths-ignore:
      - "**.md"
      - "**.txt"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - "**.txt"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: "~1.17.8"

      - name: Go Build Cache (lint)
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg
          key: go-cache-1-${{ hashFiles('**/go.sum') }}-lint
          restore-keys: |
            go-cache-1-${{ hashFiles('**/go.sum') }}-
            go-cache-1-

      - run: go get -t ./...

      - name: Run linters
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.46.0
          skip-pkg-cache: true
          skip-build-cache: true
