name: autofix.ci

on:
  pull_request:
    branches:
      - master

permissions:
  contents: read

env:
  GOTOOLCHAIN: "local"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Install Node LTS
        uses: actions/setup-node@v6
        with:
          cache: yarn

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - run: yarn install --frozen-lockfile

      - run: yarn run format

      - run: gofmt -w -s .

      - uses: autofix-ci/action@v1
