name: release

on:
  push:
    tags:
      - "v*.*.*"
env:
  USER: "bangumi"
  IMAGE: "chii"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/base

      - name: Get Tag Name
        run: echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - run: make build

      - name: docker build
        run: docker build -t ghcr.io/${{ env.USER }}/${{ env.IMAGE }}:latest .

      - name: docker login
        run: echo $DOCKER_TOKEN | docker login ghcr.io -u ${{ env.USER }} --password-stdin
        env:
          DOCKER_TOKEN: ${{ github.token }}

      - name: docker push
        run: |
          docker push ghcr.io/${{ env.USER }}/${{ env.IMAGE }}:latest
          docker tag ghcr.io/${{ env.USER }}/${{ env.IMAGE }}:latest "ghcr.io/${{ env.USER }}/${{ env.IMAGE }}:$TAG"
          docker push "ghcr.io/${{ env.USER }}/${{ env.IMAGE }}:$TAG"

      - name: Upload GitHub Release
        run: gh release create "$TAG" --title "$TAG ($(date --rfc-3339=date))"
        env:
          TZ: "Asia/Shanghai"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
