name: Release(openapi)

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  GOTOOLCHAIN: "local"

jobs:
  openapi:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - run: yarn install --frozen-lockfile
      - run: yarn run build

      - uses: actions/checkout@v6
        with:
          repository: "bangumi/api"
          path: api

      - run: cp ./dist/v0.yaml ./api/open-api/v0.yaml

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          path: api
          token: ${{ secrets.PAT }}
          title: Update Openapi Specification from bangumi/server
          push-to-fork: Trim21-bot/api
          branch: "update-upstream"
          author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
