name: Release(docker)

on:
  push:
    tags:
      - "v*.*.*"
    branches-ignore:
      - "renovate/**"

permissions:
  packages: write

env:
  GOTOOLCHAIN: "local"

jobs:
  docker:
    name: "docker"

    runs-on: ubuntu-24.04
    env:
      IMAGE: "ghcr.io/${{ github.repository_owner }}/chii"

    steps:
      - uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache: false

      - name: Go Build Cache (build)
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg
          key: go-cache-122-${{ hashFiles('**/go.sum') }}-build
          restore-keys: |
            go-cache-122-${{ hashFiles('**/go.sum') }}-

      - run: echo "SHA=${GITHUB_REF##*/}" >> $GITHUB_ENV
        if: "${{ startsWith(github.ref, 'refs/tags/') }}"

      - run: echo "SHA=$(git show --no-patch --no-notes --date=short-local --pretty='%as-%h')" >> $GITHUB_ENV
        if: "${{ !startsWith(github.ref, 'refs/tags/') }}"
        env:
          TZ: UTC

      - run: node .github/scripts/write-version.js

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"

      - run: task build
        name: Build Binary

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE }}
          tags: |
            type=semver,event=tag,pattern=v{{version}}

            type=ref,event=branch
            type=ref,event=branch,suffix=-${{ env.SHA }}

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build Final Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./
          provenance: false
          file: etc/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
