name: release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  github:
    needs:
      - docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - run: npm ci

      - run: node scripts/changelog.js > changelog.md

      - run: echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Upload GitHub Release
        run: gh release create "$TAG" --title "$TAG" -F changelog.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docker:
    strategy:
      matrix:
        include:
          - job: web
            task: "build"
            image: bangumi/chii
            dockerfile: etc/Dockerfile
          - job: archive
            task: "build-archive"
            image: bangumi/chii-cmd-archive
            dockerfile: etc/archive.Dockerfile
          - job: canal
            task: "build-canal"
            image: bangumi/chii-canal
            dockerfile: etc/canal.Dockerfile

    name: "docker ${{ matrix.job }}"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"

      - run: echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Install Task
        uses: arduino/setup-task@v1

      - run: task ${{ matrix.task }}
        name: Build Binary

      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          context: ./
          file: ${{ matrix.dockerfile }}
          tags: ghcr.io/${{ matrix.image }}:latest,ghcr.io/${{ matrix.image }}:${{env.TAG}}

  openapi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - run: npm ci
      - run: npm run build

      - uses: actions/checkout@v3
        with:
          repository: "bangumi/api"
          path: api

      - run: cp ./dist/v0.yaml ./api/open-api/v0.yaml

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          path: api
          token: ${{ secrets.PAT }}
          title: Update Openapi Specification from bangumi/server
          push-to-fork: Trim21-bot/api
          branch: "update-upstream"
          author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"

      - uses: actions/checkout@v3
        with:
          repository: "bangumi/dev-docs"
          path: dev-docs

      - run: cp ./dist/private.yaml ./dev-docs/api.yaml

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          path: dev-docs
          token: ${{ secrets.PAT }}
          title: Update Openapi Specification from bangumi/server
          push-to-fork: Trim21-bot/dev-docs
          branch: "update-upstream"
          author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
