name: Release(docker)

on:
  push:
    tags:
      - "v*.*.*"
    branches-ignore:
      - "renovate/**"

permissions:
  packages: write

jobs:
  docker:
    name: "docker"

    runs-on: ubuntu-24.04
    env:
      IMAGE: "ghcr.io/${{ github.repository_owner }}/chii"

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - uses: trim21/actions/setup-go@master
        with:
          cache-namespace: build

      - run: echo "SHA=${GITHUB_REF##*/}" >> $GITHUB_ENV
        if: "${{ startsWith(github.ref, 'refs/tags/') }}"

      - run: echo "SHA=$(git show --no-patch --no-notes --date=short-local --pretty='%as-%h')" >> $GITHUB_ENV
        if: "${{ !startsWith(github.ref, 'refs/tags/') }}"
        env:
          TZ: UTC

      - run: node .github/scripts/write-version.js

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"

      - run: task build
        name: Build Binary

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE }}
          tags: |
            type=semver,event=tag,pattern=v{{version}}
            type=raw,value={{commit_date 'YYYY-MM-DD'}}-{{sha}}

            type=ref,event=branch
            type=ref,event=branch,suffix=-${{ env.SHA }}

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build Final Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./
          provenance: false
          file: etc/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
