name: release

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Get Tag Name
        run: echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Generate Changlog
        run: docker build --build-arg "COMMIT_REF=$TAG" -t ghcr.io/bangumi/api-server:latest .

      - run: echo $DOCKER_TOKEN | docker login ghcr.io -u bangumi --password-stdin
        name: docker login
        env:
          DOCKER_TOKEN: ${{ github.token }}

      - run: |
          docker push ghcr.io/bangumi/api-server:latest
          docker tag ghcr.io/bangumi/api-server:latest "ghcr.io/bangumi/api-server:$TAG"
          docker push "ghcr.io/bangumi/api-server:$TAG"

      - name: Upload Github Release
        run: gh release create "$TAG" --title "$TAG ($(date --rfc-3339=date))"  --generate-notes
        env:
          TZ: "Asia/Shanghai"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
