name: release(openapi)

on:
  push:
    tags:
      - v*

jobs:
  dump-openapi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/checkout@v3
        with:
          repository: "bangumi/api"
          path: api

      - run: cp web/spec.yaml ./api/open-api/v0.yaml

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          path: api
          token: ${{ secrets.PAT }}
          title: Update Openapi Spec
          push-to-fork: Trim21-bot/api
          branch: "update-upstream"
          author: "Trim21-bot <trim21-bot@users.noreply.github.com>"
