name: Release(docker)

on:
  push:
    tags:
      - "v*.*.*"
    branches:
      - master
jobs:
  docker:
    name: "docker"

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
          check-latest: true

      - name: Go Build Cache (build)
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg
          key: go-cache-119-${{ hashFiles('**/go.sum') }}-build
          restore-keys: |
            go-cache-119-${{ hashFiles('**/go.sum') }}-
            go-cache-119-

      - run: |
          export REF=$(git describe --match='v*' --tags)
          echo "REF=master" >> $GITHUB_ENV
          echo "TAG=${REF}" >> $GITHUB_ENV
        if: "${{ !startsWith(github.ref, 'refs/tags/') }}"

      - run: |
          echo "REF=latest" >> $GITHUB_ENV
          echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
        if: "${{ startsWith(github.ref, 'refs/tags/') }}"

      - run: node .github/scripts/write-version.js

      - name: Install Task
        uses: arduino/setup-task@v1
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"

      - run: task build
        name: Build Binary

      - run: docker build -t current -f etc/Dockerfile .

      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - run: |
          docker tag current "ghcr.io/bangumi/chii:${REF}"
          docker push "ghcr.io/bangumi/chii:${REF}"
          docker tag current "ghcr.io/bangumi/chii:${TAG}"
          docker push "ghcr.io/bangumi/chii:${TAG}"
