name: Release

on:
  push:
    tags:
      - "v*.*.*"

env:
  GOTOOLCHAIN: "local"

jobs:
  github:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Generate Changelog
        id: changelog
        uses: requarks/changelog-action@v1.10.3
        with:
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}
          writeToFile: false
          restrictToTypes: feat,fix,revert

      - name: Upload GitHub Release
        run: gh release create "${GITHUB_REF}" --notes "${CHANGELOG}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CHANGELOG: "${{ steps.changelog.outputs.changes }}"
