name: Test(openapi)

on:
  push:
    branches:
      - master
    paths:
      - "openapi/**"
      - "package.json"
      - "package-lock.json"
      - ".github/workflows/test-openapi.yaml"
  pull_request:
    branches:
      - master
    paths:
      - "openapi/**"
      - "package.json"
      - "package-lock.json"
      - ".github/workflows/test-openapi.yaml"

env:
  GOTOOLCHAIN: "local"

jobs:
  test:
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "yarn"

      - run: yarn install --frozen-lockfile
      - run: yarn run test
