name: Test(openapi)

on:
  push:
    branches-ignore:
      - renovate/**
    paths:
      - "openapi/"
      - "package.json"
      - "package-lock.json"
      - ".github/workflows/test-openapi.yaml"
  pull_request:
    branches:
      - master
    paths:
      - "openapi/"
      - "package.json"
      - "package-lock.json"
      - ".github/workflows/test-openapi.yaml"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
          cache: "npm"

      - run: npm ci
      - run: npm test
