name: Test

on:
  push:
    branches-ignore:
      - renovate/**
    paths:
      - ".github/workflows/test.yaml"
      - "go.mod"
      - "go.sum"
      - "Taskfile.yaml"
      - "**.go"
      - "**.go.json"
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/test.yaml"
      - "go.mod"
      - "go.sum"
      - "Taskfile.yaml"
      - "**.go"
      - "**.go.json"

env:
  GOTOOLCHAIN: "local"

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - run: git clone https://github.com/bangumi/dev-env $HOME/dev-env
      - run: cd ~/dev-env && docker compose up -d

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: ./.github/workflows/actions/setup-go
        with:
          env: test

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"

      - run: bash $HOME/dev-env/wait_mysql_ready.sh

      - name: Run tests
        run: task coverage
        env:
          GORACE: halt_on_error=1
          MYSQL_HOST: 127.0.0.1
          MYSQL_PORT: "3306"
          MYSQL_USER: user
          MYSQL_PASS: password
          MYSQL_DB: bangumi
          REDIS_URI: "redis://:redis-pass@127.0.0.1:6379/0"

      - uses: codecov/codecov-action@v5
        with:
          files: coverage.out
          token: ${{ secrets.CODECOV_TOKEN }} # required
