name: update common defs

on:
  push:
    branches:
      - master
  repository_dispatch:
    types:
      - ci-update-common

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - uses: actions/setup-node@v6
        with:
          node-version: 22

      - run: git reset --hard origin/master
        working-directory: ./pkg/vars/common

      - run: yarn install --frozen-lockfile
      - run: yarn run build-common
      - run: yarn run format
      - run: git add .

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.PAT }}
          title: "feat: update common"
          branch: "ci/update-common"
          push-to-fork: "trim21-bot/bangumi-server"
          author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
